.main-container {
  border-top: 1px solid var(--base-dark-line);
  gap: 48px;
}

.main-content-wrapper {
  padding: var(--padding-nm) var(--padding-lg) 0;
  flex-wrap: wrap;
  gap: 16px;
}

.expand-btn {
  width: 180px;
  padding: var(--padding-xs);
  margin: 0 auto;
  background-color: transparent;
  border-radius: var(--border-primary);
  border: 1px solid var(--primary-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-lg);
  color: var(--primary-color);
  margin-bottom: 68px;
  transition: box-shadow 0.2s ease-in-out;
}

.empty-message {
  color: var(--text-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);
  margin: 0 auto;
  align-items: center;
}

.expand-btn:hover {
  box-shadow: 0px 8px 24px 0px var(--box-shadow-primary);
}
